
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>Add New Label</h4>
</div>
<div class="modal-body">
    <input class="form-search" type="text" placeholder="아무거나 입력…">
</div>
<div class="modal-footer">
    <a class="btn btn-primary">Add</a>
    <a class="btn" data-dismiss="modal">Close</a>
</div>
