<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h4>New Memo</h4>
</div>
<div class="modal-body" id="memo_labelID" value="<%= label_id%>">
    <input id="inputMemoTitle" type="text" placeholder="메모 제목을 입력하세요.">
    <textarea id="inputMemoContent" type="text" placeholder="내용을 입력하세요."></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="btnMemoReg">REG</button>
    <button class="btn" data-dismiss="modal">Close</button>
</div>
<script>
    
$(function(){
    
    $("#btnMemoReg").click(function() {
        console.log("되라!!!!");
        //console.log(labelID);
        var inputTitle = $.trim($("#inputMemoTitle").val());
        var inputContent = $("#inputMemoContent").val();
        var labelID = $('#memo_labelID').attr("value");
        console.log("label_id :: " + labelID);
        console.log("title :: "+ inputTitle);
        console.log("content :: "+ inputContent);
        
       newMemoClick(labelID, inputTitle, inputContent);
        
       // window.location.reload();
    });


});
</script>