#appContent {
	width: 1000px;
	height: 500px;
	margin: auto;
	color: #5F5F5F;
	border-bottom: 1px solid #ddd;
}

/* label 영역 */
#labelArea {
	float: left;
	width: 200px;
	height: 500px;
	
}
#labelList {
	width: inherit;
	height: 450px;
	border: 1px solid #ddd;
	border-bottom: 0px;
}
#labelBtnArea {
	width: inherit;
	height: 50px;
	border: 1px solid #ddd;
	text-align: center;
    vertical-align: middle;
    display: table-cell;
}




/* memo 영역 */
#labeleSet {
	background: #FF9090;
	color: #FFFFFF;
	width: inherit;
	height: 50px;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #FF9090;
	vertical-align: middle;
    display: table-cell;
}
#labeleSet>label {
	position: relative;
    top: 7px;
    left: 15px;

}
#memoBtnArea {
	float: right;
	width: 100px;
	text-align: center;
}
#memoList {
	width: inherit;
	height: 450px;
	border-bottom: 1px solid #ddd;
}
#memoArea {
	float: left;
	width: 300px;
}


/* 메모 컨텐트 */
#memoDetail {
	width: inherit;
    display: table-cell;
    text-align: left;
}
#memoDetailArea {
	float: left;
	width: 500px;
}

.memoUpdateBtnArea {
	width: inherit;
	height: 49px;
	vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
}

.memoOK {
	display: none;
}

#memoUpdateDate {
    margin: 5px;
}

#memoTitle {
	margin-top: 4px;
	background: #FF9090;
	border: none;
	width: 260px;
}
.memoUpdateDate {
	float: right;
	font-weight: initial;
    font-size: smaller;
}
#memoUpdateDate {
	width: 190px;
}

.memoPreview {
    font-size: smaller;
    margin-left: 21px;
	margin-bottom: 0px;
}

.title {
	margin: 0px;
}

/* 선택했을때.. */
.active {
	background-color: #FFC5C5 !important; 
	border-color: #FFC5C5 !important;
	z-index: 1 !important;
	font-weight: bold;
}
.list-group-item.active>.badge {
	color: #FF9090;
}

/* bootstrap override */
.page-header {
	color: #5F5F5F;
	text-indent: 50px;
}
.list-group-item {
	border-radius: 0px !important;
	border-right: 0px solid #ddd !important;
	border-left: 0px solid #ddd !important;
	border-top: 0px solid #ddd !important;
	margin: 0px;
}

.list-group-item:last-child {
	/*border-bottom: 1px solid #ddd !important;*/
}

.list-group-item.active .list-group-item-text {
	color: #FFFFFF;
}

.panel {
	border-radius: 0px;
}

.panel-heading {
	width: inherit;
    display: table-cell;
    vertical-align: middle;
	border-radius: 0px !important;
	height: 49px;
}

.panel-body {
	height: 400px;
}

.badge {
	background-color: #FF9090;
}

.panel-default>.panel-heading {
    color: #FFF;
    background-color: #FF9090;
    border-color: #FF9090;
}

.btn-primary:hover {
	background-color: #DC7878;
    border-color: #DC7878;
}

.btn-primary:focus {
	background-color: #FF9090;
	border-color: #FF9090;
	outline: none;
}

.btn-primary:active {
	outline: none !important;
	background-color: #DC7878 !important;
    border-color: #DC7878 !important;

}

.btn-primary {
	background-color: #FF9090;
    border-color: #FF9090;
}

input[type=checkbox] {
    margin-right: 5px;
    margin-top: 1px\9;
    line-height: normal;
}
/* modal-dialog */
/* 라벨추가 모달 크기 */
.dialog-label {
	position: fixed;
    top: 30%;
    left: 40%;
    width: 300px;
}
.dialog-newMemo {
	position: fixed;
	top: 10%;
	left: 30%;
	width: 500px;
}

#inputLabel {
	width: 268px;
	height: 30px;
}

#inputMemoTitle {
	width: 468px;
	height: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
#inputMemoContent {
	width: 468px;
	height: 350px;
	border: 1px solid #ddd;
	resize: none;
}
.modal-header {
	height: 40px;
    padding: 0px;
    padding-left: 20px;
}
.modal-body input {
	border: none;
}
.modal-footer {
	padding: 5px;
}
.close {
	position: relative;
    top: 5px;
    right: 5px;
}